@{
    ViewData ["Title"] = "Experience";
}

<h1>Experience</h1>

<ul>
    <li>NET Developer at Decagon - Improved application efficiency and scalability.</li>
    <li>Virtual Assistant at XYZ Company - Assisted with fundraising event planning.</li>
</ul>