@{
    ViewData["Title"] = "Skills";
}

<h1>Skills</h1>

<ul>
    <li>C# and .NET Framework</li>
    <li>ASP.NET MVC, React, Bootstrap</li>
    <li>SQL Server, Git, and Testing Frameworks</li>
    <li>Graphic Design</li>
    <li>Virtual Assistant</li>
</ul>