@{
    ViewData["Title"] = "Education";
}

<h1>Education</h1>

<ul>
    <li> B.Tech in Food Science and Technology-Federal University of Technology, Akure</li>
    <li>Scrum Fundamentals Certified</li>
    <li>ALX AiCE Certification</li>
</ul>
